#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 95%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 2% 12px 3%; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
    
  }

  #myTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f2f2f2;
  }

  .free-room {
    width: 80%;
    margin: 50px 10% 0 10%;
  }

  .rooms-free-table {
    height: 350px;
    overflow: auto;
  }

  .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  .bookings {
    position: relative;
    font-size: 10px;
    padding: 3px 5px;
    right: 0px;
    margin-left: -10px;
  }